:root {
  --main-light: #666ad1;
  --main-dark: #001970;
  --main-darker: #33379E;
  --primary: #303f9f;
  --indicator-starting: #00600f;
  --indicator-no-turn: #212121;
  --indicator-lifting: #a00037;
  --round-point: #00bcd4;
  --main-font-color: white;
  --background-color: #607d8b;
}

body {
  padding: 5px;
  font-family: Roboto;
  background-color: var(--background-color);
  color: var(--main-font-color);
}

.flex {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-between
}

.flex > * {
    display: flex;
    flex: 1;
}

.playerPointHeader {
    flex-direction: column;
    text-align: center;
    background-color: var(--main-light);
    position: relative;

    &::before {
      width: 0;
      height: 0;
      content: ' ';
      top: 0;
      left: 0;
      position: absolute;
      border-color: transparent;
      border-style: solid;
      border-width: 1em;
      border-left-color: var(--indicator-no-turn);
      border-top-color: var(--indicator-no-turn);
    }

    &.starting::before {
      border-left-color: var(--indicator-starting);
      border-top-color: var(--indicator-starting);
    }

    &.lifting::before {
      border-left-color: var(--indicator-lifting);
      border-top-color: var(--indicator-lifting);
    }

    .playerName {
      padding: 5px 0;
      font-size: 24px;
      color: var(--main-font-color);
    }

    .playerPoints {
      font-size: 40px;
      background-color: var(--main-darker);
      color: var(--main-font-color);
    }
}

#pointDiv {
  margin-top: 5px;
}

#positions > div {
  background-color: var(--main-darker);
  color: white;
  margin: 2px 2px;
  height: 30px;

  & > p {
    text-align: center;
    width: 100%;
    font-size: 24px;
    height: 24px;
    line-height: 20px;
    top: 0;
    margin: 4px 0;
  }
}

.pointDiv {
  background-color: var(--main-light);
  color: white;
  position: relative;
  font-size: 32px;

  &:nth-child(even) {
    background-color: var(--primary);
  }

  .summ {
    width: 100%;
  }

  .roundPoint {
    top: 0;
    right: 0;
    position: absolute;
    min-width: 40px;
    max-width: 65px;
    color: var(--round-point);
    font-size: 32px;
  }
}

#setupDiv .subContent {
  padding-bottom: 5px;
}

#setupDiv, #addPlayerDiv, #addPointDiv {
  background-color: var(--main-dark);

  .subTitle {
    background-color: var(--main-light);
    font-size: 32px;
    padding: 6px;
  }

  .subContent {
    width: 100%;
    height: 100%;
    border: 0;
    color: var(--main-font-color);
    padding-top: 5px;
    background-color: var(--main-dark);

    .playerInputDiv {
      .inputLabel {
        text-align: left;
        width: 100%;
        margin: 0 0 0 14px;
      }

      #addplayerinput {
        width: 90%;
        border: none;
        background-color: var(--main-light);
        color: var(--main-font-color);
      }
    }

    .playerInputRow {
      margin-top: 5px;

      .playerName {
        text-align: left;
        width: 100%;
        margin: 0 0 0 14px;
      }

      .playerPointInput {
        width: 90%;
        border: none;
        background-color: var(--main-light);
        color: var(--main-font-color);
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &:focus {
          border: 2px solid var(--main-font-color);
        }
      }
    }

    .addButton {
      width: 100%;
      border: none;
      margin-bottom: -5px;
      background-color: var(--main-darker);
      color: var(--main-font-color);
    }
  }
}
