:root {
  --main-light: #666ad1;
  --main-dark: #001970;
  --main-darker: #33379E;
  --primary: #303f9f;
  --indicator-starting: #00600f;
  --indicator-no-turn: #212121;
  --indicator-lifting: #a00037;
}

body {
  padding: 5px;
  font-family: Roboto;
}

.flex {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-between
}

.flex > * {
    display: flex;
    flex: 1;
}

.playerPointHeader {
    flex-direction: column;
    text-align: center;
    background-color: var(--main-light);
    position: relative;

    &::before {
      width: 0;
      height: 0;
      content: ' ';
      top: 0;
      left: 0;
      position: absolute;
      border-color: transparent;
      border-style: solid;
      border-width: 1em;
      border-left-color: var(--indicator-no-turn);
      border-top-color: var(--indicator-no-turn);
    }

    &.starting::before {
      border-left-color: var(--indicator-starting);
      border-top-color: var(--indicator-starting);
    }

    &.lifting::before {
      border-left-color: var(--indicator-lifting);
      border-top-color: var(--indicator-lifting);
    }

    .playerName {
      padding: 5px 0;
      font-size: 24px;
    }

    .playerPoints {
      font-size: 40px;
      background-color: var(--main-darker);
      color: white;
    }
}

#positions > div {
  background-color: var(--main-darker);
  color: white;
  margin: 2px 2px;
  height: 30px;

  & > p {
    text-align: center;
    width: 100%;
    font-size: 24px;
    height: 24px;
    line-height: 20px;
    top: 0;
    margin: 4px 0;
  }
}
