/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./vendor/Roboto-Regular.ttf');
  src: local('Roboto'),
}


.blue {
    background-color: #2979FF;
    border-radius: 5px;
}

.green {
    background-color: #388E3C;
    border-radius: 5px;
}

.gray {
    background-color: #424242;
    border-radius: 5px;
}

.lightgray {
    background-color: #848484;
    border-radius: 5px;
}

.red {
    background-color: #db1616;
    border-radius: 5px;
}

#darkmode {
    background-color: black;
    color: white;
}

.col {
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    width: 500px;
}

.grayborder {
    border: 1px #424242 solid;
    border-radius: 5px;
}

.redborder {
    border: 1px #db1616 solid;
    border-radius: 5px;
}

.yellowborder {
    border: 1px #d8db16 solid;
    border-radius: 5px;
}

.greenborder {
    border: 1px #16db16 solid;
    border-radius: 5px;
}

body#darkmode .black_outline {
    text-shadow: 0px 0px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.right {
    margin-right: 3%;
    top: 5%;
    width: 20%;
    float: right;
}

.left {
    float: left;
}

.SPACE {
    padding: 5px;
}

.addButton {
    margin-top: 10px;
    width: 80%;
    text-align: center;
}

#addPoints {
    text-align: center;
}

.points {
    width: 70%;
    top: 5%;
}

.fleex {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-between
}

.fleex > * {
    display: flex;
    flex: 1;
}

.flex_item {
    flex-direction: column;
    text-align: center;
}

#pointDiv > :nth-child(n),
#header > :nth-child(n) {
    margin-left: 2px;
    margin-right: 2px;
}

.subContent {
    text-align: center;
}

#setupDiv {
    margin-top: 5px;
}

#pointDiv {
    height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#pointDiv::-webkit-scrollbar {
    display: none;
}

#playerList {
    margin-bottom: 5px;
}

#bottom_bar {
    border: none;
    bottom: 0%;
    right: 0%;
    position: absolute;
}

.sum_display {
    text-align: center;
    width: 100%;
}

.diff_display {
    float: left;
    top: 0%;
    padding:2px;
    font-size: 14px;
}

.point_display {
    float: right;
    top: 0%;
    padding: 2px;
    font-size: 14px;
}

.numbers {
    text-align: center;
    height: 15px;
    width: 33%;
}

input:focus {
    border: blue 2px solid;
    background-color: lightblue;
}

#darkmode input:focus {
    border: red 2px solid;
    background-color: lightcoral;
}

#topbar {
    height: 5%;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: inline-block;
    background-color: gray;
}

input:not([type="button"]) {
    width: 100%;
}

#title {
    margin-top: 2%;
}

.nullpoint {
    text-shadow: 0px 0px 0 #db1616, -1px -1px 0 #db1616, 1px -1px 0 #db1616, -1px 1px 0 #db1616, 1px 1px 0 #db1616;
}
